/*Notification Component*/
.notificationBoxSuccess{
    position: fixed;
    z-index: 100;
    display: inline-flex;
    background-color: #8ae9c8ed;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;
    border-radius: 10px;
    animation-name: animateNotificationEnter;
    animation-duration: 0.5s;
    border: 5px solid #93f9d6;
    margin-top: 10px;
}
.notificationBoxError{
    position: fixed;
    z-index: 100;
    display: inline-flex;
    background-color: #ef7b75eb;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;
    border-radius: 10px;
    animation-name: animateModal;
    animation-duration: 0.5s;
    border: 10px solid #ff918b;
    margin-top: 10px;
}
.notificationBoxWarning{
    position: fixed;
    z-index: 100;
    display: inline-flex;
    background-color: #ebde76e7;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;
    border-radius: 10px;
    animation-name: animateModal;
    animation-duration: 0.5s;
    border: 5px solid #fff07c;
    margin-top: 10px;
}
  
/* Add Animation */
@keyframes animateNotificationEnter {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.notificationHeaderBtn{
    display: flex;
    justify-content: flex-end !important;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 100px;
    border:  2px solid #ffffffc6;
    background-color: #ffffffb0;
}
.notificationTitle{
    display: flex;
    align-items: flex-end;
    margin-left: 110px;
}
.line{
    width: 90%;
    border-color: rgb(255, 255, 255);
}
.notificationContent{
    margin: 0px 10px 20px 10px;
}