table{
    display: table;
}
table, th, td {
    border: 4px solid white;
    border-collapse: collapse;
}
thead th {
    width: 25%;
}
th {
    padding: 10px;
    background-color: #beeded;
}


tr.item:nth-of-type(even) {
    background-color: #beeded;
    width: 60px;
}
tr.item:hover {
    cursor: pointer;
    background-color: #b6d6d6;
}
tr.modal {
    background-color: #e7f6f6;
    max-height: 5px;
}

/*Paginator Style*/
.paginatorWrapper{
    display: flex;
    background-color: rgb(247, 247, 247);
    align-items: center;
    justify-content: center;
}
.paginatorPara{
    margin: 5px;
    width: 200px;
    margin-right: 20px;
}

.btnPaginator{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: 3px solid #ffffff;
    background-color: #ffffff;
}
.btnPaginator:hover{
    cursor: pointer;
    background-color: #beeded;
    animation-name: animateArrowButton;
    animation-duration: 0.5s;
}
@keyframes animateArrowButton {
    from {top: -300px; opacity: 0.3}
    to {top: 0; opacity: 1}
}

.selector{
    border-radius: 5px;
    border: 2px solid #70e0e0;
}

/*Modal Style*/
.divModal{
    scroll-behavior: auto;
    scroll-behavior: smooth;
    display: flex !important; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.294); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    z-index: 1; /* Sit on top */
    padding: 20px;
    width: 160%;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 10px;
    animation-name: animateModal;
    animation-duration: 0.4s;
  }
  
/* Add Animation */
@keyframes animateModal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.closeModalButton{
    margin-left: 90%;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 100px;
    border: 5px solid rgb(255, 80, 80);
    background-color: rgb(255, 80, 80);
}
.editModalButton{
    margin-top: 30px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 1px 1px 10px 10px;
    border: 5px solid rgb(227, 209, 75);
    background-color: rgb(227, 209, 75);;
}
.saveModalButton{
    margin-top: 30px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 1px 1px 10px 10px;
    border: 5px solid rgb(138, 227, 75);
    background-color: rgb(138, 227, 75);
}
.saveModalButtonDisable{
    margin-top: 30px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 1px 1px 10px 10px;
    border: 5px solid rgb(155, 155, 155);
    background-color: rgb(155, 155, 155);
}
.cancelModalButton{
    margin-top: 30px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 1px 1px 10px 10px;
    border: 5px solid rgb(255, 80, 80);
    background-color: rgb(255, 80, 80);
}
.titulo{
    font-size: 30px;  
    font-weight: bold;
}

/*Table Style*/
.inputGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*Input Style*/
.input{
    border-radius: 10px;
    border: 2px solid #beeded;
    margin: 3px;
    padding: 5px
}
input:focus{
    outline: none;
    border: 2px solid #22c2c2 !important;
}
.btnVisualizar{
    background-color: #56afaf;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: white;
}
.btnVisualizar:hover{
    background-color: #3f8282;
}
/*InputModal*/
.tabItemBody{
    background-color: #beeded;
    border: 2px solid #ffffff;
    padding: 2px;
    cursor: pointer;
}
p.tab{
    height: 150px;
}

